/* For Printing only */
/* Printer Friendly CSS */

html {
    background-color: rgb(191, 253, 194);
}

* {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    font-family: "Playwrite DE Grund", cursive;
}

body {
    background-color: white;
    color: rgb(1, 1, 46);
    max-width: 8.5in;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    /* border: 2px solid green; */
    border-radius: 15px;
    padding: 15px;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    margin: 0;
}

h1, h2, h3 {
    margin-top: 10px;
}

h1 {
    text-align: center;
    border-bottom: 2px;
}

#intro {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h2 {
    border-bottom: 2px solid green;
}

h3 {
    border-bottom: 2px;
}
h2 + h3 {
    margin-top: 0;
}

ul {
    list-style: url('image3.png');
}

li {
    list-style-type: none;
}

.nested-list {
    list-style: url('image2.png');
}

#education-header {
    margin-top: 0px;
}
#education-para {
    display: flex;
    justify-content: space-between;
}
.dates {
    float: right;
}

.list-0 {
    display: flex;
}

.work-position {
    flex: 1;
    padding: 5px;
}
.box-dates {
    padding: 5px;
    max-width: 33%;
}
.box-extra {
    padding: 5px 5px 20px 20px;
}

.pagebreak-avoid {
    break-inside: avoid;
}

.container {
    display: flex;
    justify-content: space-between;
}
.box {
    flex: auto;
    padding: 10px;
    margin: 1%;
}
.responsive-image {
    height: 200px;
    width: auto;

    border: 1px solid green;
    border-radius: 5px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

    filter:none;
}