/* Cascading Style Sheet */

html {
    background-color: rgb(191, 253, 194);
}

* {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    font-family: "Playwrite DE Grund", cursive;
}

header {
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: white;
    color: rgb(1, 1, 46);
    max-width: 8.5in;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid green;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3 {
    margin-top: 10px;
}

h1 {
    text-align: center;
    border-bottom: 2px;
}

h2 {
    border-bottom: 2px solid green;
}

h3 {
    border-bottom: 2px;
}

ul {
    list-style: url('image3.png');
}

li {
    list-style-type: none;
}

.nested-list {
    list-style: url('image2.png');
}

.dates {
    float: right;
}

.education-para {
    display: flex;
    justify-content: space-between;
}

.list-0 {
    display: flex;
}

/* Created with CoPilot */
.container {
    display: flex;
}
.box {
    flex: auto;
    padding: 10px;
    margin: 1%;
}
.responsive-image {
    height: 200px;
    width: auto;

    border: 1px solid green;
    border-radius: 5px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

    filter:none;
}